asn1crypto==0.22.0
cffi==1.10.0
cryptography==1.9
idna==2.5
inflection==0.3.1
more-itertools==3.2.0
ndg-httpsclient==0.4.2
numpy==1.13.0
packaging==16.8
pandas==0.20.2
pyasn1==0.2.3
pycparser==2.17
pygal==2.3.1
pyOpenSSL==17.0.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
Quandl==3.2.0
requests==2.17.3
six==1.10.0
