asn1crypto==0.22.0
cffi==1.10.0
cryptography==1.9
idna==2.5
inflection==0.3.1
more-itertools==3.2.0
ndg-httpsclient==0.4.2
numpy==1.13.1
packaging==16.8
pandas==0.20.3
pyasn1==0.2.3
pycparser==2.18
pygal==2.4.0
pyOpenSSL==17.1.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.1
Quandl==3.2.0
six==1.10.0
